<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <h4>Author:</h4>
    <p><a href='/authordetails/{{ recipe.author }}'>{{ recipe.author }}</a></p>
    <h4>Recipe Description</h4>
    <p>{{ recipe.description }}</p>
    <h4>Time Required</h4>
    <p>{{ recipe.time_required }} minutes</p>
</body>
</html>