<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>These are the recipes</h1>
    {% for recipe in recipes %}
        <li><a href='recipedetails/{{ recipe.id }}'>{{ recipe.title }}</a></li>
    {% endfor %}
</body>
</html>